@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500;1,600&display=swap');

*{
               padding: 0;
               margin: 0;
               box-sizing: border-box;
}

body{
               font-family: 'poppins' , sans-serif;
               width: 100%;
               height: 100vh;
               background:black;
               display: grid;
               place-items: center;
}
header{
              position: relative;
               width: 100%;
               height: 100%;
               display: flex;
               flex-wrap: wrap;
               overflow: hidden;
}

header .menu , .song {
               width: 25%;
               height: 90%;
               background: rgb(6, 1, 27);
               box-shadow: 5px 0px 2px #090f1f;
               color: #fff;

}

header .song{
               width: 75%;
               background:rgb(5, 1, 20) ;

}

header .masterplay{
               width: 100%;
               height: 10%;
               background: rgb(6, 1, 27);
               box-shadow: 0px 3px 8px #090f1f;
}



header .menu h1{
               font-size: 30px;
               text-align: center;
               margin:20px 0px 0px 25px;
               color: rgb(224, 5, 5);
            
               font-weight: 600;     
                       
               
}
header .menu h6{
  color: #0b0b3c;
}




header .menu .playlist{
              margin:40px 0px 0px 20px;
}



 header .menu .playlist h4{
               font-size: 14px;
               font-weight: 400;
               padding-bottom: 10px;
               color: #4c5262;
               cursor: pointer;
               display: flex;
               align-items: center;
               transition: 0.3s linear;
 }
 header .menu .playlist h4:hover{
              color: #fff;
 }
 header .menu .playlist h4 span{
             position: relative;
             margin-right: 35px;
 }
 header .menu .playlist h4 span::before{
              content: '';
              position: absolute;
              width: 4px;
              height: 4px;
              border: 2px solid #4c5262;
              border-radius: 50%;
              top:-4px;
              transition: 0.3s linear;
   }

   header .menu .playlist h4:hover span::before{
               border: 2px solid #fff;
             
    }

    header .menu .playlist h4 .bi{
              display: none;
 }
 header .menu .playlist .active{
            color: aqua;
  }
  header .menu .playlist .active span{
               display: none;
     }

     header .menu .playlist .active .bi{
               display: flex;
               margin-right: 20px;
     }

header .menu .menusong {
               width: 100%;
               height: 420px;
               margin-top: 40px;
               overflow: auto;
}

header .menu .menusong::-webkit-scrollbar {
              display: none;
}

header .menu .menusong li{
            list-style: none;
            position: relative;
            padding: 5px 0px 5px 20px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
            transition: -0.3s linear;
}
header .menu .menusong li:hover{
               background: rgb(105 , 105 , 105 , 0.1);
             
   }

   header .menu .menusong li span{
             font-size: 12px;
             font-weight: 400;
             color: #4c5262;
             
   }   
   header .menu .menusong li img{
             width:32px;
             height: 32px;
             margin-left: 25px;
               
     }   
 header .menu .menusong li h5{
               font-size: 11px;
               margin-left: 15px;
               width: 170px;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
 }
 header .menu .menusong li h5 .subtitle{
              font-size: 9px;
              color: #4c5262;
 }

 header .menu .menusong li  .bi{
              position: absolute;
              right: 15px;
  }

  header .masterplay{
               display: flex;
               align-items: center;
               padding: 0px 20px;
  }

  header .masterplay .wave {
             width: 30px;
             height: 30px;
             padding-bottom: 5px;
             display: flex;
             align-items: flex-end;
             margin-right: 10px;
  }
  
  header .masterplay .wave .wave1 {
               width: 3px;
               height: 10px;
              background: #36e2ec;
              margin-right: 3px;
              border-radius: 10px 10px 0px 0px;
              animation: unset;
              margin-right: 3.5px;
    }

    header .masterplay .wave .wave1:nth-child(2) {
               height: 13px;
               animation-delay: .4s;
          
    }
    header .masterplay .wave .wave1:nth-child(3) {
               height: 8px;
               animation-delay: .8s;
          
    }

    /*    java script classes     */

    header .masterplay .active1 .wave1{
              animation: wave .5s linear infinite;
          
    }

    header .masterplay .active1 .wave1:nth-child(2) {
               
               animation-delay: .4s;
          
    }
    header .masterplay .active1 .wave1:nth-child(3) {

               animation-delay: .8s;
          
    }


    @keyframes wave {


               0% {

                              height: 10px;
               }
               50% {
                              height: 15px;

               }
               100% { 
                              height: 10px;

               }
    }


    header .masterplay img{
               width: 35px;
               height: 35px;

    }

    header .masterplay h5{
               width: 130px;

             color: #fff;
             margin-left: 15px;
             line-height: 17px;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
               font-size: 13px;
    }
 
    header .masterplay h5 .subtitle{
             font-size: 11px;
             color: #4c5262;
             width: 100px;
             text-overflow: ellipsis;
             white-space: nowrap;
             font-size: 13px;
    }

    header .masterplay .icon{
              font-size: 20px;
              color: #fff;
              margin: 0px 20px 0px 40px;
              align-items: center;
      }
      header .masterplay .icon .bi{
              cursor: pointer;
              outline: none;
       }
     header .masterplay .icon .shuffle {
        font-size: 17px;
        margin-right: 10px;
        width: 17.5px;
        overflow: hidden; 
 }

 header .masterplay .icon #downloadmusic {
        font-size: 20px;
        margin-left: 10px;
      
 }

 header .masterplay .icon .bi:nth-child(3){
        border: 1px solid  rgb(105 , 105 , 105 , 0.1);
        border-radius: 50%;
        padding: 1px 5px 0px 7px;
        margin: 0px 5px;
 }
 header .masterplay span{
        color: #fff;
        width: 32px;
        font-size: 11px;
        font-weight: 400;
 }

 header .masterplay #currentstart{
        margin: 0px 0px 0px 20px;
       
 }

 header .masterplay .bar{
       position: relative;
       width: 43%;
       height: 2px;
       background: rgb(105 , 105 , 170 , 0.1);
       margin: 0px 15px 0px 10px;
       
 }

 header .masterplay .bar .bar2{
        position: absolute;
        background: #36e2ec;
        width: 0%;
        height: 100%;
        top: 0;
        transition: 1s linear;
       
        
  }
  header .masterplay .bar .dot{
        position: absolute;
        background: #36e2ec;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        left: 0%;
        top:-1.5%;
        transition: 1s linear;
  }

  header .masterplay .bar .dot::before{
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid #36e2ec;
      border-radius: 50%;
      left: -7px;
      top: -6.5px;
      box-shadow: inset 0px 0px 3px #36e2ec;
  }

  
  header .masterplay .bar input{
       
        position: absolute;
        width: 100%;
        top: -7px;
        left: 0;
        cursor: pointer;
        z-index: 999;
       opacity: 0;
    }
   

    /* header .masterplay .vol .bi{
       
       position: absolute;
       color: #fff;
       font-weight: 25px;
       bottom: 58px;
       right: 310px;
     
    } */

    
    header .masterplay .vol input{
       
       cursor: pointer;
       z-index: 9999;
       opacity: 1;
      
     }

     header .song::before {
       content: '';
       position: absolute;
       width: 100%;
       height: 300px;

     }
    
     
     

     header .song nav{
       width: 90%;
       height: 10%;
       margin: auto;
       display: flex;
       align-items: center;
       justify-content: space-between;
       
     }
     
     header .song nav ul{
       display: flex;
       
     }

     header .song nav ul li{
       list-style: none;
       position: relative;
       font-size: 15px;
       color: #4c5262;
       margin-right: 25px;
       cursor: pointer;
       transition:0.3s linear;
     }
     header .song nav ul li:hover{
       color:#fff;
     }

     header .song nav ul li:nth-child(1){
       color:#fff;
     }
     header .song nav ul li span{
       position: absolute;
       width: 100%;
       height: 2.5px;
       background: #36e2ec;
       bottom: -5px;
       left: 0;
       border-radius: 20px;
     }
     header .song nav .search{
       position: relative;
       width: 40%;
      padding: 1px 10px;
      border-radius: 20px;
    
      color: grey;
     }
     header .song nav .search::before{
       position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: rgb(184, 184, 184 , 0.1 );
      border-radius: 20px;
     }
     header .song nav .search .bi{
      font-size: 13px;
      padding: 3px 0px 0px 11px;
     }

     /* problemmmmmmmmmmmmmmmmmmmmmmmmmmmm */
     header .song nav .search input {
      background: none;
      border: none;
      font-size: 12px;

      padding: 0px 10px;
      color: #fff;
      }

      header .song .content{
       width: 90%;
       height: 30%;
       margin: auto;
       padding-top: 20px;
      }
      header .song{
        background: none;
      }
  
    
      header .song .content p{
       font-size: 11px;
       font-weight: 400;
       color: #4c5262;
       margin: 0px;
       justify-content: left;
}


header .song .content .buttons{
       margin-top: 15px;
      

 }

 header .song .content .buttons button{
      width: 130px;
      height: 30px;
      border-radius: 20px;
      outline: none;
      border: #5adae0;
      transition: 0.3s linear;
      color:#36e2ec;
      background: #090f1f;
      cursor:pointer;
 }

 /* problemmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
 header .song .content .buttons button:hover {
      background: #fff;
      color: #36e2ec;
  }

  header .song .content .buttons button:nth-child(2):hover {
       background:#36e2ec;
       color:#fff;
   }
   header .song .popularsong {
       width:90%;
       height: auto;
       margin: auto;
       margin-top: 15px;
   }
   header .song .popularsong .h4{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 18px;
   }
   /* probleeeeeeeeeeeeeeeeeeeeeeeeeeeem */
   /* header .song .popularsong .h4 .bi{
       color: palevioletred;
       cursor: pointer;
       transition: 0.3s linear;
    } */
    header .song .popularsong .h4 .bi {
      color: palevioletred;
      cursor: pointer;
      transition: 0.3s linear;
   }

    header .song .popularsong .h4 .bi:hover {
       color: #fff;
       
    }

    
    header .song .popularsong .popsong {
       width: 100%;
       height: 150px;
       margin-top: 15px;
       display: flex;
       overflow: auto;
       scroll-behavior: smooth;
       
    }
    header .song .popularsong .popsong::-webkit-scrollbar {
      display: none;
       
    }
    header .song .popularsong .popsong li {
       min-width: 100px;
       height: 140px;
       list-style: none;
       margin-right: 10px;
       transition: 0.3s linear;
       
    }
    header .song .popularsong .popsong li:hover {
      background: rgb(105 , 105 , 170 , 0.1);
       
    }
/* ************************************************* */
    header .song .popularsong .popsong li .imgplay{
      position: relative;
      width:100%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
        
     }

     header .song .popularsong .popsong li .imgplay .bi{
      position: absolute;
      font-size: 20px;
      cursor: pointer;
      transition: 0.3s linear;
      color: #090f1f;
      opacity: 0;
         
      }
     header .song .popularsong .popsong li .imgplay img{
       width: 100%;
       height: 100%;

      }

      
     header .song .popularsong .popsong li:hover .imgplay .bi{
       opacity: 1;
       }
       header .song .popularsong .popsong li h5{
            padding: 5px 0px 0px 5px;
            line-height: 15px;
            font-size: 10px;
            width: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
       }    
       header .song .popularsong .popsong li .subtitle{
              font-size: 9px;
              width: 100px;
              color: #4c5262;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
         }    

         header .song .popularartist{
              width: 90%;
              height: auto;
              margin: auto;
              margin-top: 15px;
         }

         header .song .popularartist .h4{
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-left: 18px;
           }
           /* probleeeeeeeeeeeeeeeeeeeeeeeeeeeem */
           header .song .popularartist .h4 .bi{
               color: palevioletred;
               cursor: pointer;
               transition: 0.3s linear;
            }
        
            header .song .popularartist .h4 .bi:hover {
               color: #fff;
               
            }
            header .song .popularartist .item {
              width: 100%;
              height: 100px;
              margin-top: 15px;
              display: flex;
              overflow: auto;
              scroll-behavior: smooth;
              
           }
           header .song .popularartist .item::-webkit-scrollbar {
         display: none;
            
         }

           header .song .popularsong .popsong::-webkit-scrollbar {
             display: none;
              
           }
           header .song .popularartist .item li{
             list-style: none;
             position: relative;
             min-width: 60px;
             height: 60px;
             border-radius: 50%;
             margin-right: 20px;
             cursor: pointer;
             
           }
           header .song .popularartist .item li img{
           width: 100%;
           height: 100%;border-radius: 50%; 
             
          }

          @media  screen and (max-width:480px) {
            header{
              width: 95%;
              transition: .5s linear;
            }
            header .menu, .song{
              width: 20%;
            }
            header .song{
              width: 50%;
            }
            header .song .content{
              height: 10%;
            }
            
          }

          @media  screen and (max-width:480px) {
          header .menu{
            z-index: 999;
            width: 60%;
            position: absolute;
            transition: 1s linear;
            transform: translateX(-100%);
            height: 85%;
            /* display: none;  */
          }
        
          
          header .song{
            width: 100%;
            
          }
          header .masterplay{
            position: absolute;
           
            flex-wrap: wrap;
            bottom: 10px;
            padding-bottom:  20px;
            justify-content: center;
            
            
          }
       
          header .masterplay .vol input{
            display: none;
          }
          header .masterplay #currentstart{
            display: none;
          }
          header .masterplay .bar{
            padding-left: 120px;
          }
          header .masterplay img{
            justify-content: left;
            align-items :flex-start;
            left: 0;
          }
          header .song nav .search{
            top: 50px;
            right: 300px;
            height: 50px;
          }
          header .song nav .search::before{
           
          
           width: 200%;
           height: 50%;
           /* right: 100px; */
           border-radius: 20px;
           padding: 5px;
          }
          header .song nav .search .bi{
          
            font-size: 20px;         
            top: 15px;
            bottom: 0;
           }
           header .song .content{
            position: relative;
            padding-bottom: 210px;
            padding-top: 50px;
            font-size: 10px;
           }
           header .song .content p{
            font-size: 15px;
           }
           header .song .popularsong{
            position: relative;

           }
           header .menu h6{
            position: absolute;
           
            bottom: 10px;
            width: 30px;
            height: 30px;
            font-size: 25px;
            color: red;
            display: flex;
            cursor: pointer;
            left: 235px;
            transition: 1s linear;
           }
           header .menu h6:hover{
            color: #fff;
           }
         
          }
      
        



      
      
      
  
   